@model ProyectoPlataformaWebCIDEP.Models.EvaluacionesModel


@{
    ViewBag.Title = "ElegirTipoEvaluacion";
    Layout = "~/Views/Shared/_Authenticated.cshtml";
    ViewBag.VistaActiva = "Calificaciones";
}



<div class="col-md-12 col-sm-12">
    <div class="row">
        @foreach (var evaluacion in Model.Evaluaciones)
        {
            <div class="col-lg-4 col-md-6 col-sm-12" style="padding: 0.5rem;">
                <div class="card">
                    <div class="card-header">
                        Tipo de Evaluación
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@evaluacion.Descripcion</h5>
                        <p class="card-text">Rubro</p>


                        @if ((int)Session["ID_Rol"] != 3)
                        {
                            <a href="@Url.Action("CalificarEstudiantes", "Calificaciones", new { idClase = Request.QueryString["idClase"], idEvaluacion = evaluacion.ID_TipoEvaluacion })" class="btn btn-primary">Agregar</a>
                        }

                    </div>
                </div>
            </div>
        }

    </div>
</div>
