@model ProyectoPlataformaWebCIDEP.Entity.AvisoGeneralEntity

@{
    Layout = "~/Views/Shared/_Authenticated.cshtml";
    ViewBag.VistaActiva = "Comunicaciones";
}

<div class="col-md-12 col-sm-12">
    @using (Html.BeginForm("EditarAvisoGeneral", "Avisos", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="section-title text-center">
            <h2>Editar Aviso General</h2>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-12" style="padding: 0.5rem;">
                @Html.TextBoxFor(m => m.ID_AvisoGeneral, new { @class = "form-control", @placeholder = "", @type = "hidden" })

                <label for="Mensaje">Mensaje:</label>
                @Html.TextAreaFor(m => m.Mensaje, new { @class = "form-control", @placeholder = "Mensaje", @maxlength = "300", @required = "required", @id = "mensaje", @rows = "5" })
            </div>
            <div class="col-12 text-center" style="padding: 0.5rem;">
                <input type="hidden" name="FechaPublicacion" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" />
                <input type="submit" class="btn btn-primary" value="Editar">
            </div>
        </div>
    }
</div>
