
@model ProyectoPlataformaWebCIDEP.Entity.EvaluacionEntity

@{
    Layout = "~/Views/Shared/_Authenticated.cshtml";
    ViewBag.VistaActiva = "Administracion";
}


<div class="container">
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    @using (Html.BeginForm("EditarEvaluacion", "Evaluaciones", FormMethod.Post))
                    {
                        <div class="section-title text-center">
                            <h2>Editar Tipo de Evaluación</h2>
                        </div>
                        <div class="row">
                            @Html.TextBoxFor(m => m.ID_TipoEvaluacion, new { @class = "form-control", @placeholder = "id tipo de evaluación", @type = "hidden" })
                            <div class="col-md-6 col-sm-12" style="padding: 0.5rem;">
                                @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control", @placeholder = "Descripción", @type = "text" })
                            </div>
                            <div class="col-md-6 col-sm-12" style="padding: 0.5rem;">
                                @Html.DropDownListFor(m => m.Activo, new SelectList(new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "Activo", Value = "true" },
                                    new SelectListItem { Text = "Inactivo", Value = "false" }
                                }, "Value", "Text"), "Seleccione el estado", new { @class = "form-control", @required = "required" })
                            </div>
                            <div class="col-12 text-center" style="padding: 0.5rem;">
                                <input type="submit" class="btn btn-primary" value="Editar">
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>



